tbody(style = {
"margin":"0",
"padding": "0"
})
	tr(style = {
	"color":"#51aee1" 
	})
		td
		td
		td
		td(style = {
		"text-align": "right",
		"padding-right": "30px"
		}) #{Data['eightBlocks']['ar']['firstLine'][0]} 
			span(style = {
				"font-weight":"bold" 
			}) #{Data['eightBlocks']['ar']['firstLine'][0]} 
	tr
		td(style = {
		width:"129px",
		}) 
			img(
			src  = val['colum_1_1']['image'], 
			style={ 
			height: "120px",
			"padding-top": "6px",
			width:"123px",
			})
		td(style = {
		width:"129px"
		}) 
			img(
			src  = val['colum_1_2']['image'], 
			style={  
			height: "120px",
			"padding-top": "6px",
			width:"123px", 
			})
		td(style = {
		width:"129px"
		}) 
			img(
			src  = val['colum_1_3']['image'], 
			style={ 
			height: "120px", 
			"padding-top": "6px",
			width:"123px",
			})
		td(style = {
		width:"129px",
		"padding-right":"30px"
		}) 
			img(
			src = val['colum_1_4']['image'], 
			style={  
			height: "120px",
			"padding-top": "6px",
			width:"123px",
			})
//--headers text block

tbody(style = {
"margin":"0",
"font-size":"8px",
"padding-right":"30px",
"padding": "0"
})
	tr
		td(style = {
		"padding-top":"5px",
		"color": "#0090d6",
		"padding-left": "40px"
}) #{val['colum_1_1']['headerAr']}
		td(style = {
		"color": "#0090d6",
		"padding-top":"5px"
}) #{val['colum_1_2']['headerAr']}
		td(style = {
		"color": "#0090d6",
		"padding-top":"5px",
}) #{val['colum_1_3']['headerAr']}
		td(style = {
		"color": "#0090d6",
		"padding-top":"5px",
		"padding-right": "30px"
}) #{val['colum_1_4']['headerAr']}

//----------

//-- text block second line
tbody(style = {
"margin":"0",
"font-size":"8px",
"padding": "0"
})
	tr
		td(style ={
			"padding-left": "40px"		
		})  #{val['colum_1_1']['descriptionAR']}
		td  #{val['colum_1_2']['descriptionAR']}
		td  #{val['colum_1_3']['descriptionAR']}
		td(style = {
		"padding-right": "30px"
		})  #{val['colum_1_4']['descriptionAR']}

//-----------



//-- blocs part ||
tbody(style = {
"margin":"0",
"padding": "0"
})
	tr(style = {
	"color":"#51aee1" 
	})
		td
		td
		td
		td(style = {
		"padding-top": "18px",
		"padding-right":"30px"
		}) #{Data['eightBlocks']['ar']['secondLine'][0]} 
			span(style = {
				"font-weight":"bold",
			}) #{Data['eightBlocks']['ar']['secondLine'][1]}
	tr
		td(style = {
		width:"129px",
		}) 
			img(
			src = val['colum_2_1']['image'], 
			style={ 
			height: "120px",
			"padding-top": "6px",
			width:"123px",
			})
		td(style = {
		width:"129px"
		}) 
			img(
			src = val['colum_2_2']['image'], 
			style={  
			height: "120px", 
			"padding-top": "6px",
			width:"123px", 
			})
		td(style = {
		width:"129px"
		}) 
			img(
			src = val['colum_2_3']['image'], 
			style={ 
			height: "120px", 
			"padding-top": "6px",
			width:"123px",
			})
		td(style = {
		width:"129px",
		"padding-right":"30px"
		}) 
			img(
			src = val['colum_2_4']['image'], 
			style={  
			height: "120px",
			"padding-top": "6px",
			width:"123px",
			})
//--headers text block

tbody(style = {
"margin":"0",
"font-size":"8px",
"padding-right":"30px",
"padding": "0"
})
	tr
		td(style = {
		"padding-top":"5px",
		"color": "#0090d6"
}) #{val['colum_2_1']['headerAr']}
		td(style = {
		"padding-top":"5px",
		"color": "#0090d6"
}) #{val['colum_2_2']['headerAr']}
		td(style = {
		"color": "#0090d6",
		"padding-top":"5px"
}) #{val['colum_2_3']['headerAr']}
		td(style = {
		"padding-top":"5px",
		"color": "#0090d6",
		"padding-right":"30px"
}) #{val['colum_2_4']['headerAr']}


//-- text block second line
tbody(style = {
"margin":"0",
"font-size":"8px",
"padding": "0"
})
	tr
		td(style ={
			"padding-left": "40px"		
		}) #{val['colum_2_1']['descriptionAR']}
		td #{val['colum_2_2']['descriptionAR']}
		td #{val['colum_2_3']['descriptionAR']}
		td(style = {
		"padding-right": "30px"
		}) #{val['colum_2_4']['descriptionAR']}

//-----------





















