tbody(style = {
"margin":"0",
"direction": "rtl",
"text-align":"right",
"padding": "0"
})
	tr 
		td(style = {
		"margin":"0",
		"direction": "rtl",
		"padding": "0",
		"padding-top": "13px",
		"padding-right": "30px",
		}) #{Data['whiteBlock']['ar'][0]}
	tr
		td(style = {
		"margin":"0",
		"direction": "rtl",
		padding:"0",
		"padding-right": "30px",
		"padding-top": "13px"
		}) #{Data['whiteBlock']['ar'][1]}
	tr 
		td(style = {
		"margin":"0",
		"direction": "rtl",
		"padding": "0",
		"padding-right": "30px",
		}) #{Data['whiteBlock']['ar'][2]}
	tr 
		td(style = {
		"margin":"0",
		"padding": "0",
		"direction": "rtl",
		"padding-top": "13px",
		"padding-right": "30px",
		}) #{Data['whiteBlock']['ar'][3]}
	tr 
		td(style = {
		"margin":"0",
		"direction": "rtl",
		"padding": "0"
		}) #{Data['whiteBlock']['ar'][4]}





