tbody(style = {
"margin":"0",
"padding": "0"
})
	tr(style = {
	"color":"#51aee1" 
	})
		td #{Data['eightBlocks']['en']['firstLine'][0]}
			span(style = {
				"font-weight":"bold" 
			}) #{Data['eightBlocks']['en']['firstLine'][1]}
	tr
		td(style = {
		width:"129px",
		}) 
			img(
			src = val['colum_1_1']['image'], 
			style={ 
			height: "120px",
			"padding-top": "6px",
			width:"123px",
			})
		td(style = {
		width:"129px"
		}) 
			img(
			src = val['colum_1_2']['image'], 
			style={  
			height: "120px",
			"padding-top": "6px",
			width:"123px", 
			})
		td(style = {
		width:"129px"
		}) 
			img(
			src = val['colum_1_3']['image'], 
			style={ 
			height: "120px", 
			"padding-top": "6px",
			width:"123px",
			})
		td(style = {
		width:"129px",
		"padding-right":"30px"
		}) 
			img(
			src = val['colum_1_4']['image'], 
			style={  
			height: "120px",
			"padding-top": "6px",
			width:"123px",
			})
//--headers text block

tbody(style = {
"margin":"0",
"font-size":"8px",
"padding-right":"30px",
"padding": "0"
})
	tr
		td(style = {
		"padding-top":"5px",
		"color": "#0090d6"
}) #{val['colum_1_1']['heder']}
		td(style = {
		"padding-top":"5px",
		"color": "#0090d6"
}) #{val['colum_1_2']['heder']}
		td(style = {
		"padding-top":"5px",
		"color": "#0090d6"
}) #{val['colum_1_3']['heder']}
		td(style = {
		"padding-top":"5px",
		"color": "#0090d6"
}) #{val['colum_1_4']['heder']}

//----------

//-- text block second line
tbody(style = {
"margin":"0",
"font-size":"8px",
"padding": "0"
})
	tr
		td(style = {
		"width" :"120px",
		"padding-right":"10px",
		"padding-top":"5px" 
		}) #{val['colum_1_1']['descripton']}
		td(style = {
		"width" :"120px",
		"padding-top":"5px",
		"padding-right":"10px"
		}) #{val['colum_1_2']['descripton']}
		td(style = {
		"width" :"120px",
		"padding-top":"5px",
		"padding-right":"10px"
		}) #{val['colum_1_3']['descripton']}
		td(style = {
		"width" :"120px",
		"padding-top":"5px",
		"padding-right":"40px"
		}) #{val['colum_1_4']['descripton']}

//-- blocs part ||
tbody(style = {
"margin":"0",
"padding": "0"
})
	tr(style = {
	"color":"#51aee1" 
	})
		td(style = {
		"padding-top": "18px"
		}) #{Data['eightBlocks']['en']['secondLine'][0]}
			span(style = {
				"font-weight":"bold" 
			}) #{Data['eightBlocks']['en']['secondLine'][1]}
	tr
		td(style = {
		width:"129px",
		}) 
			img(
			src = val['colum_2_1']['image'], 
			style={ 
			height: "120px",
			"padding-top": "6px",
			width:"123px",
			})
		td(style = {
		width:"129px"
		}) 
			img(
			src = val['colum_2_2']['image'], 
			style={  
			height: "120px", 
			"padding-top": "6px",
			width:"123px", 
			})
		td(style = {
		width:"129px"
		}) 
			img(
			src = val['colum_2_3']['image'], 
			style={ 
			height: "120px", 
			"padding-top": "6px",
			width:"123px",
			})
		td(style = {
		width:"129px",
		"padding-right":"30px"
		}) 
			img(
			src = val['colum_2_4']['image'], 
			style={  
			height: "120px",
			"padding-top": "6px",
			width:"123px",
			})
//--headers text block

tbody(style = {
"margin":"0",
"font-size":"8px",
"padding-right":"30px",
"padding": "0"
})
	tr
		td(style = {
		"padding-top":"5px",
		"color": "#0090d6"
}) #{val['colum_2_1']['heder']}
		td(style = {
		"color":"#0090d6",
		"padding-top":"5px"
}) #{val['colum_2_2']['heder']}
		td(style = {
		"color":"#0090d6",
		"padding-top":"5px"
}) #{val['colum_2_3']['heder']}
		td(style = {
		"color":"#0090d6",
		"padding-top":"5px"
}) #{val['colum_2_4']['heder']}

//----------

//-- text block second line
tbody(style = {
"margin":"0",
"font-size":"8px",
"padding": "0"
})
	tr
		td(style = {
		"width" :"120px",
		"padding-top":"5px",
		"padding-right":"10px"
		}) #{val['colum_2_1']['descripton']}
		td(style = {
		"width" :"120px",
		"padding-top":"5px",
		"padding-right":"10px"
		}) #{val['colum_2_2']['descripton']}
		td(style = {
		"width" :"120px",
		"padding-top":"5px",
		"padding-right":"10px"
		}) #{val['colum_2_3']['descripton']}
		td(style = {
		"width" :"120px",
		"padding-top":"5px",
		"padding-right":"40px"
		}) #{val['colum_2_4']['descripton']}
//------------



















