table(class=lang)
	each day, key in data.days
		tr 
			td 
				span !{lengh.eightBlocks[key]}
		tr
			each block in day.blocks
				td 
					img(src=tempImg[block.cover])
					h1= block.title
					p= block.desc